*{
	margin: 0px;
	padding:0px;
}

h1{
	font: bold 15px Arial;
}

#myname,#projects{
	text-align:center;
	font: bold 25px Arial;
}


h2{
	font: bold 14px Arial;
}

header, section, footer, aside, nav, article, hgroup {
	display:block;
}

form{
	padding:6px;
}

body{
	text-align:center;
	background-image: url("resized_images/background.jpg");
	font-size:100%;
	font-family:Arial;
}


#test {
	margin:2px;
	padding:2px;
}
#big_wrapper{
	
	width: 80%;
	margin: 25px auto;
	text-align:left;
	
}

#con p{
	padding:2px; /* this is the padding for contact info */
}
#top_header{
	
	padding: 20px;	
	margin:2px;
}
#top_header footer{
	text-align:right;
}
#top_header h1{
	font: bold 25px Arial;
	margin-bottom:1px;
	
}
#top_menu{

	border-top:1px solid black;
	border-bottom:1px solid black;
	color:white;
}

#top_menu li{
	color:red;
	display:inline-block;
	list-style:none;
	padding:5px;
	font:bold 14px arial;
	
}

a:link, a:visited{
    color:black;
    text-decoration:none;
}

a:hover{
	color:red;
	text-decoration:underline;
}

a:active{
	color:red;
	text-decoration:none;
}



 img:hover {
    border-color: black;
}
#main_section {
	
  width: 85% ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top:30px;
  margin-bottom:5px;
  
}

#projectpic img{

border: solid 2px transparent;
}


#projectpic img:hover{

border-color: black;
}

#main_section  article{

  
  margin-top:10px;
  margin-bottom:30px;
  padding:10px;
  text-align:center;
}


#main_section h1 {
	text-align:center;
	margin:20px;
	padding:2px;
	
	font:bold 20px Arial;
}
#main_section h2 {
	text-align:left;
}

#main_section h3{
	
	padding:2px;
	font-size:12px;
}

#main_section p{
	font-weight:normal;
	text-align:left;
	padding:4px;
}



#pdflink{
	color:red;
	font:bold 15px arial;
}

}
#socialmedia{
	padding:10px;
}

#the_footer{
	clear:both;
	text-align:center;
	padding:20px;
	/*
	border-top:1px solid black;
	*/
}


article footer {
	text-align: right;
}

form{
	
	margin:1px;
	text-align:left;
}
input{

	margin:1px;
}

textarea{
		margin:4px;
}

#list li{
	text-align:left;
	list-style-position: inside;
	font-size:14px;
	padding:5px;
}


article p{

	font-size:14px;

	 line-height: 1.3;
	 margin:4px;
	 padding:2px;
}

